a:link {color: #666666}
a:link{text-decoration: none}
a:visited {color: #666666}
a:visited{text-decoration: none} 
a:active {color: #666666}
a:hover {color: #ff3300}
body{
	background-color: #F6F4F0;
	font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";
}
.my_scrollbar::-webkit-scrollbar{-webkit-appearance:none;width:10px}
.my_scrollbar::-webkit-scrollbar-thumb{border-radius:4px;background-color:rgba(0,0,0,0.5);-webkit-box-shadow:0 0 1px rgba(255,255,255,0.5)}
/*Bootstrap table設置*/
table { table-layout: fixed; }
table th, table td { overflow: hidden; }
table th{-moz-user-select:none;-webkit-user-select: none;}
.table-hover>tbody>tr:hover {background-color: #EAEAEA;}
.page-list{position: absolute;left: 10px; top: -42px;}  
.page-list .dropdown-menu{min-width: 100px;}
.pagination-detail{margin-left: 10px;}
div.pagination{ margin-right: 10px;}
.search input {width: 85%;  display: inline;}
.search label{width: 500px;}
#eventsTable .order:after{content: '\e156';padding-left: 2px;color: cadetblue; font-family: 'Glyphicons Halflings';}
#eventsTable .dropup:after{content: '\e155';padding-left: 2px;color: cadetblue; font-family: 'Glyphicons Halflings';}
th .caret{display:none;}

.fileinput-button input{bottom:0}
.info_input{float:left;width:250px;}
.mtitle{margin-right:5px;}
.mail_form{	width: 340px;float: left;}
.mail_form select ,input[type='checkbox'],input[type='radio']{cursor:pointer;}
.mail_form label{padding-right: 0px;padding-left: 10px;}
.mail_edit{width: 800px;float: left;margin-left:50px;}
.mail_edit button{float: right;margin-left:10px;}
.mail_content{width: 800px;float: left;margin-top:5px;margin-left:50px;}
.edit_div{border: 1px solid #ddd;min-height:50px;padding: 10px;}
.sort_table{width: 650px;}
.sort_table table{text-align: center;}
.sort_table th{text-align: center;}
.dataTable{	border-collapse: collapse !important;}
table.dataTable thead th, table.dataTable thead td{border-bottom: 1px solid #ddd !important;}
.sort_table select{display: inline;cursor:pointer;}
.sort_table input{display: inline;width: 120px;}
.sort_table tbody{cursor: -webkit-grab;}
.enable{color:rgba(0,201,95,1);font-weight: bold;}
.disable{color:red;font-weight: bold;}
.nones{cursor: default !important;}
.nones:after{content: ' ' !important;}
.status{width: 88px !important;}
.edits{	width: 49px !important;	}
.deletes{width: 49px !important;}
.edit{width: 22px;cursor:pointer;}
.baby_delete,.verify_delete,.verify_access,.delete{width: 22px;cursor:pointer;}
#new{position: absolute;left: 162px;top: 17px;cursor: pointer; z-index: 2;}
#refresh{position: absolute;left: 430px;top: -2px;cursor: pointer;z-index: 2;width: 33px;}
.dropdown-menu{cursor: default;}
.babys_search{float: none;position: absolute;left: 150px;}
.hot_item{float:left;border:1px solid #ccc;	padding: 5px;border-radius: 5px;margin-right: 5px;position: relative;}
.hot_remove{position: absolute;right: -4px;top: -6px;cursor: pointer;}
.plus_in,.hot_remove2{cursor: pointer;}
#save_hot{cursor: pointer;position: absolute;left: 144px;top: 16px;	z-index: 3;}
#hot_msg{position: absolute;left: 255px;top: 23px;}
.badge{background-color: indianred;}
.warning .modal-content{	width:400px;}
.successs .modal-content{width:400px;}
.glyphicon-refresh-animate {-animation: spin .7s infinite linear;-webkit-animation: spin2 .7s infinite linear;}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
div.growlUI {height:60px;background: url('../img/check48.png') no-repeat 20px 8px;}
div.growlUI span, div.growlUI h2 {
	font-size:20px;
	line-height:60px;
    color: white; 
	padding: 10px 0px 0px 10px; 
	text-align: left;
}
.dropdown-menu::-webkit-scrollbar{-webkit-appearance:none;width:10px}
.dropdown-menu::-webkit-scrollbar-thumb{border-radius:4px;background-color:rgba(0,0,0,0.5);-webkit-box-shadow:0 0 1px rgba(255,255,255,0.5)}
.dropdown-header {color:lightseagreen;}
.mail_title{float:left;line-height:34px;width:60px;text-align: right;}
.mail_input{width:800px;float:left;}
.mail_inline{margin-bottom:5px;}
.mail_button{margin-right: 10px;float:left;}
.note-editable{	background-color: white;styles:clear;}

.nobreak{white-space:nowrap;
width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;}
.panel{  background: transparent;}
.breadcrumb a:hover{color:indianred}
.bootstrap-table .dropdown-menu label{cursor:pointer}
.bootstrap-table .dropdown-menu li:hover{background:#ddd}
.info_label{float:left; padding:7px;margin-left: 20px;width:90px;}
.county-district{width: 180px!important;margin-right: 30px;}
.county-district .dropdown-menu{max-height: 240px!important;}

/*照片*/
.edit_pic{width: 100%; min-height: 300px;width:300px; background-color: #eee;text-align: center;position: relative;font-size: 16px;}
.new_pic{top: 0; left: 60px; line-height: 300px; font-weight: bold; color: #888;}
.fileinput_all {position: absolute!important;top: 0;bottom: 0;left: 0;right: 0;}
.photos_delete{width: 40px;height: 40px;position: absolute;top: 0;right: 0;cursor: pointer;z-index: 400;}
.photos_delete:after {content: '';position: absolute;right: 0;top: 0;width: 0;height: 0;border-bottom: 40px solid transparent;border-left: 40px solid transparent;border-right:40px solid rgba(255, 255, 255,0.7);}
.photos_delete i{position: absolute;right: 3px;top: 1px;z-index: 500;color: indianred;font-size: 22px;}
.photos_delete:hover:after{border-right-color:indianred;}
.photos_delete:hover i{color: white;}
.preview canvas{width:100%;}
.tab-content{border: 1px solid #ddd; border-top: 0;padding-top:20px;}  
.info_panel{padding:0 20px;}
.photos_cover{ top: 1px;left: 6px;width: 90px;height:34px;line-height: 34px;position: absolute;font-size: 18px;background:rgba(255, 255, 255,0.7);text-align:center;cursor:pointer;}
.is_cover{background:#dff0d8;}

.stage_block{border: 1px solid rgba(0, 0, 0, .1);padding: 30px 15px;width:500px;}
.date1 .e-datewidget{display:none}
.stretchy-wrapper{
	width: 100%;
    display: inline-block;
	position: relative;
	border: 1px solid rgba(0, 0, 0, .1);
	/*background-color:#c6c6c6;*/
}
.stretchy-wrapper:after {
  padding-top:75%;
  display: block;
  content: '';
}
.photo {
  width: 100%;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-color: white;
}
.clockpicker{text-align: center;}