#main{
	height: initial !important;
}
#sponsor_step{
	width: 1170px;
	margin: auto;
	padding: 5px 0px 5px 35px;
}
#sponsor_step>div{
	display: inline-block;
	height: 140px;
}
#sponsor_step>div:nth-child(2n){
	border-width: 0px;
	border-left-width: 1px;
	border-style: solid;
	border-color: #8589a1;
	width: 19px;
}
.step_arrow{
	border-width: 15px;
	border-style: solid;
	border-color: #5B5D6C;
	border-top-color: white;
	border-right-color: white;
	border-bottom-color: white;
	height: 0px;
	margin-right: -15px;
	margin-top: 55px;
	width: 0px;
}
#sponsor_step>div:nth-child(2n-1){
	color: #595B67;
	height: 90px;
	padding-top: 20px;
	vertical-align: top;
	width: 170px;
}
#sponsor_step>div:nth-child(2n-1)>div{
	margin: auto 0px;
	text-align: left;
}
#sponsor_step>div:nth-child(2n-1)>div:first-child{
	font-size: 25px;
	margin-bottom: 20px;
}
#sponsor_step>div:nth-child(2n-1)>div:first-child span{
	background-color: #E4E6FF;
	border-radius: 25px;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	text-align: center;
	width: 50px;
}
#sponsor_step>div:nth-child(5)>div:last-child span{
	font-size: 14px;
}
#sponsor_step>div:last-child{
	width: 155px;
}
.shadow{
	background-image: url('../img/studentapply/shadow.jpg');
	height: 5px;
}
#student_apply{
	background-color: #EEEEEE;
	padding-bottom: 60px;
	width: 1170px;
}
#apply_form{
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	border-radius: 8px;
	box-shadow: 0px 0px 10px #C0C0C0;
	margin: auto;
	margin-bottom: 20px;
	padding: 0px 20px;
	position: relative;
	top: 60px;
	width: 720px;
}
#apply_form h3{
	background-color: #4897BE;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: white;
	line-height: 55px;
	height: 55px;
	margin: 1px -20px;
	margin-bottom: 30px;
	text-align: center;
}
#agree_dialog .last_btn{
	background-color:#fa5f5f;
	box-shadow: 0px 2px 4px -2px black;
	color: white;
	width: 120px;
	margin-right: 232px;
}
.agree_content{
	font-size: 15px;
	line-height: 30px;
}
#apply_dialog_1 button{
	background-color:#20c49b;
	box-shadow: 0px 2px 4px -2px black;
	color: white;
	margin-right: 232px;
	width: 100px;
}
.apply_dialog_content div:first-child{
	display: inline-block;
	width: 180px;
}
.apply_dialog_content div:last-child{
	display: inline-block;
	font-size: 16px;
	line-height: 30px;
	position: relative;
	top: 30px;
	vertical-align: top;
}
.apply_dialog_content2 div:first-child{
	display: inline-block;
	width: 180px;
}
.apply_dialog_content2 div:last-child{
	display: inline-block;
	font-size: 17px;
	line-height: 30px;
	position: relative;
	top: 60px;
	vertical-align: top;
}
#apply_dialog_2 img{
	float: right;
}
#apply_dialog_2 div{
	text-align: left;
}
#apply_dialog_2 .first_btn{
	background-color:#e2e2e2;
	box-shadow: 0px 2px 4px -2px black;
	color: white;
	margin-left: 183px;
	width: 100px;
}
#apply_dialog_2 .last_btn{
	background-color:#fa5f5f;
	box-shadow: 0px 2px 4px -2px black;
	color: white;
	width: 120px;
}
#apply_dialog_3 button{
	background-color:#fa5f5f;
	box-shadow: 0px 2px 4px -2px black;
	color: white;
	margin-right: 232px;
	width: 100px;
}
.error{
	border-color: red;
	color: red;
}
#apply_form input{
	color: #555;
}
#contact_name , #contact_phone
{
	display: inline-block;
	width: 630px;
}
#money{
	display: inline-block;
	width: 300px;
}
.money_content{
	color: red;
	margin: 35px 0px;
}
#end_time , #start_time{
	display: inline-block;
	width: 120px;
}
#agree_check{
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}
