@font-face {
  font-family: 'Fontss';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'),url('../fonts/ggg.woff') format('woff'); 
}
@font-face{
    font-family: 'Round Black';
    src: url(../fonts/cccc.otf) format('opentype');    
}

a:link 	  {color: #666666}
a:link	  {text-decoration: none;outline:none;}
a:visited {color: #666666}
a:visited {text-decoration: none;outline:none;} 
a:active   {color: #666666;outline:none;}
a:hover 	  {color: #428bca;outline:none;}
ul, ol, li{list-style: none;}
h4{font-size: 16px;}
.my_scrollbar::-webkit-scrollbar{-webkit-appearance:none;width:6px}
.my_scrollbar::-webkit-scrollbar-thumb{border-radius:4px;background-color:rgba(0,0,0,0.5);-webkit-box-shadow:0 0 1px rgba(255,255,255,0.5)}

html, body{
	/*background-color: #F6F4F0;*/
	font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";
	background-color:#9ACCCD;
	height: 100%;
	margin:0px;
}
@media  (max-width: 768px){
	body{
		background-color:#f5f5f5;
	}
}
.noscroll{
	position: fixed;
	overflow-y: scroll;
	width: 100%;
}
.msg{ margin-top:7px; margin-left:17px; float:left; }
#wrapper{
	min-height: 100%;
	position: relative;
}
#header{
	/*padding-bottom: 15px;*/
	border-bottom: 1px solid #eee;
}
#container{
	background-color: white;
}
#content {    
    padding-top: 15px;
	
    /*padding-bottom: 140px;*/	
}
#footer {
	color:white;
	background-color:#2F2F2F;
	height: 140px;	
	width: 100%;
    box-sizing: border-box;   
    position: absolute;
    bottom: 0; 
   
	/*position: absolute;
	bottom: 0px;*/
	/*font-family: "微軟正黑體","Microsoft JhengHei";*/	
}
/********************* top *****************************/
#top {
	background-color: #2F2F2F;	
	margin: 0;	
	padding: 5px;
}
#top .container {
	padding: 0 ;
	text-align: right;
	line-height: 30px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #898989;/*#888*/
	/*text-shadow: 0 1px 0 #FFF;*/
	text-decoration: none;
	font-size: 14px;
}
#top .btn-link:hover, #top-links a:hover {
	color: whitesmoke;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links a + a {
	margin-left: 15px;
}
/***top下拉式選單**/
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color: transparent; 
}
.dropdown-menu{
	margin: 6px 0 0;
	/*min-width: 190px;*/
}
.dropdown-menu a:hover {
	color:black !important;
}
.thumbnail-user{
	width: 64px;
	margin-left: 10px;
	float: left;
}
.user-name{
	float: left;
	margin-top: 4px;
}
.user-email{
	float: left;
	font-size: 12px;
}

.outer-nav a{
	font-size:20px;

}


ul.list-inline{
	margin:0;
}
@media  (max-width: 768px){
	.glyphicon {
		font-size:  18px;	
	}
	#header {
		border-bottom: 0;
	}
	#top{
		padding:0;
		padding-top:5px;
	}
	#top .btn-link, #top-links li, #top-links a {
		font-size: 18px ;
		margin: 0 0px;
	}
	.list-inline{
		margin-bottom: 0px;
	}
	.logo_name{
		font-size: 28px !important;
		line-height:30px;
		
	}
}
#header nav{
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #e7e7e7;
}
#logo{
	text-align: center;
}

#menu{
	text-align: center;
	padding: 0px;
	margin-bottom:0px;
	margin-top: 22px;
}
.menu_bar li :hover{ 
	border-radius: 5px;
	background-color: white  !important;
	color:skyblue;
}
.menu_bar li :hover + .menu_bar img { 
	left: 3px;
}
.menu_bar a{
	float: left;
	color:black;
	font-size: 18px;
	padding-bottom: 7px !important;
	padding-top: 10px !important;	
}
.menu_icon{
	float: left;
	height: 45px;
	margin-top: -12px;
	margin-right: 5px;
	position: relative;
	left: 0px;
}
.menu_active{
	position: absolute;
	bottom: 3px;
	left: 62%;
	width: 20px;
	display: none;
}
/*.menu_bar{
	background-color:#FC6681;
	border-radius: 5px;
}
.menu_bar li{
	border-radius: 5px;
}
.menu_bar img{
	float: left;
	height: 45px;
	margin-top: -23px;
	margin-right: 5px;
}
.menu_bar a{
	float: left;
	color:white;
	font-size: 18px;
	padding-bottom: 7px !important;
	padding-top: 10px !important;	
}
.menu_bar li :hover{ 
	border-radius: 5px;
	background-color: #f8546f  !important;
}
.menu_bar img:hover{ 
	border-radius: 5px;
	background-color: transparent  !important;
}
.menu_dash{
	position: absolute;
	height: 1px;
	width: 555px;
	border-bottom-style: dashed;
	border-bottom-color: white;
	border-width: 1px;
	top: 33px;
}*/
/***************************寶貝們************************************/

/***Mobile版篩選器***/
#mobile-filter .searching{ padding:0 15px; }
#mobile-filter .searching button{ right: 15px;}
#mobile-filter button,#mobile-filter input{	height:40px !important;border-radius: 0;}
#mobile-filters{ width:100%;padding-left: 20px;	padding-right: 5px}
#mobile-filters .bootstrap-select{ margin-left: -5px;}


/***寶貝照片***/
#babys{
	margin-top:20px;
}
#babys .photo{
	background-position-y: inherit;
	/*overflow-y: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;*/	
}
.baby-wrapper{
	width: 100%;
    display: inline-block;
	position: relative;
	background-color:#FFF;
}
.baby-wrapper:after {  
	padding-bottom: 130%;
	display: block;
	content: '';
}
.hot_img{
	position: absolute;
	right: 11px;
	top: 2px;
	z-index: 2;
	width: 50px;
}
.hot_thumbnail{
	background-color: goldenrod;
}

#filter{
	
}
#filter form{
	margin:0px;
}
#filter button{
	border-radius: 0px;
}
#filters{
	margin-left: 3px;
}
@media  (min-width: 760px){ 
	#filters div{
		margin-left: -4px;
	}
}
.searching{
	position:relative;
}
.searching button{
	position:absolute;
	right:0;
	top:0;
}
#search{
	box-shadow: none;
	border-radius: 0px;
	margin-right: 0;
	padding-right: 54px;
}
.baby_item{
	padding-right: 8px !important;
	padding-left: 8px !important;
}

/************相簿******************/
.blueimp-gallery>.indicator>li {
	width: 70px;
	height: 70px;
	background-size: cover;
}
#links .item{
	width: 80px;
	height: 80px;
	background-color: transparent;
	background-size: cover;	
	background-position: center center;
} 
#links .baby_item{
	width: 60px;
	height: 80px;
	background-color: transparent;
	background-size: cover;	
	background-position: center center;
} 
#links{
	padding: 0 20px 5px 20px;
	position: relative;
	opacity: 0.8;
}
#links:hover{
	opacity: 1;
}
#links .prev{
	position: absolute;
	left: 0;
	top: -4px;
	cursor: pointer;
	opacity: 0.8;
}
#links .next{
	position:absolute;
	right:0;
	top:-4px;
	cursor:pointer;
	opacity: 0.8;
}
#links .prev:hover{
	opacity: 1;
}
#links .next:hover{
	opacity: 1;
}
#links .prev img{
	height: 88px;
	padding: 30px 0;
}
#links .next img{
	height: 88px;
	padding: 30px 0;
}
#links .item:hover{
	border: 1px solid white;
}
/**********************************/


.modal-content{
	background-color: #ffffff;
}
.modal-header h4{
	text-align: center;
}
.formdiv{
	margin-left: 30px;	
}
.photo{
	width: 100%;
	overflow-y: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	background-color: white;	
}
.photo img{
	width: 100%;
}

/***********廠商照片*************/
#companys{ margin: 8px 0px 0px 0px;}
#companys .photo{
	overflow-y: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: cover;
	background-position: center center;	
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
#companys .caption{
	padding: 10px!important;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#companys .thumbnail2{
	padding: 5px 5px 0 5px;
	margin-bottom: -5px;
}
@media (max-width: 768px) {
	#companys .thumbnail2{
		padding: 8px 8px 0 8px;
	}
}
.company-wrapper{
	width: 100%;
    display: inline-block;
	position: relative;	
}
.company-wrapper:after {  
	padding-bottom: 100%;
	display: block;
	content: '';
}
.company_item{
	padding: 0;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	/*background: url(../img/company_bg.png) 0px 0px /101% no-repeat;*/
}
#companys .thumbnail,#companys .caption{
	background-color:transparent;	
	border:0;
}
#companys img{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
#p_company{
	position: absolute;
	right: -210px;
	top: 20px;
	width: 200px;
}
/*******OWL*******/

.loading .other_photo{
	background: url(../img/AjaxLoader.gif) no-repeat center center;
}
.customNavigation .prev{
	position: absolute;
	left: -30px;
	top: 125px;
	cursor: pointer;
}
.customNavigation .next{
	position: absolute;
	right: -30px;
	top: 125px;
	cursor: pointer;
}
.owl-theme .owl-controls{
	margin:0;
}
.owl-prev,.owl-next{
	display:none !important;
}
/***************/
.gift_item{
	position: relative;
}
.gift_content{
	position: absolute;
	height: 40px;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	color: white;
	font-size: 27px;
	padding-left: 15px;
}



.stretchy-wrapper{
	width: 100%;
    display: inline-block;
	position: relative;
	/*background-color:#c6c6c6;*/
}
.stretchy-wrapper:after {
  padding-top: 130%;
  display: block;
  content: '';
}
.other_photo{
	overflow-y: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	background-color: white;
}
.other_photo img{
	width: 100%;
}
.otherbaby{
	padding-right: 8px;
	padding-left: 8px;
}
.cur_page{
	background-color: #f5f5f5 !important;
	font-weight: bold;
}
#others{
	margin: 0px 20px;
	/*position: absolute;
width: 1130px;*/
}

.thumb-pad5 {
	margin: 0 0 40px 0;
	padding-bottom: 0;
	overflow: hidden;
	text-align: center;
	border: 1px solid #bbb;
	background: #ffffff;
}
.thumb-pad5 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	
}
.thumb-pad5 .other_photo {
	bottom: -7px !important;
}
.thumb-pad5 .caption {
	position: absolute;
	bottom: -7px;
	width: 100%;
	background-color: black !important;
	opacity: 0.8;
	padding: 5px;
	/*-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;*/
}

.stretchy-wrapper :hover ~ .thumb-pad5 .caption  { 
	position: absolute;
	bottom:79px;
	width: 100%;
	background-color: black !important;
	opacity: 0.8;
	padding: 5px;

}

.thumb-pad5 a{
	font-size: 18px;
	color:whitesmoke;
}
.thumb-pad5 a:hover,
.thumb-pad5 a:focus {
  /*color:#32ccff;*/
  color:#57b9be;
}
.thumb-pad5 a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.home_title img{
	height: 35px;
	position: relative;
	bottom: 5px;
}
.home_title{
	margin:10px 0;
}
.home_title span{
	font-size: 24px;	
}
#info th img{
	float: right;
	margin-top: 4px;
	height: 34px;
	margin-right: 15px;
}
#info td:first-child {
	width:100px;
}

#info td:nth-child(2){
	width:200px;
}
#info h3{
	float: left;
	margin: 0px;
	margin-top: 12px;
}
.caption h4{
	margin:0px;
}
.caption h5{
	margin: 2px;
	color: #666666;
}
.invite{
	background-color: lightseagreen;
	border-color: lightseagreen;
	float: right;
	margin-right: 10px;
	margin-top: 4px;
	color:white  !important;
}

#info .btn:hover{
	opacity:0.8  !important;
}
#status a:hover{
	background-color: transparent !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.fade {
   opacity: 0;
   -webkit-transition: opacity 0.01s linear;
      -moz-transition: opacity 0.01s linear;
       -ms-transition: opacity 0.01s linear;
        -o-transition: opacity 0.01s linear;
           transition: opacity 0.01s linear;
}

.msg_sucess{	
	position: absolute;
	right: 24px;
	top: 8px;
	color: #468847;
	display:none;
}
#email_error,#psd_error,#confpsd_error,#register_error{
	color: red;
}

.share{
	margin-bottom: 8px;
}
.es-carousel ul{
	padding: 0px;
}
/**幻燈片***/
.gallery {	
	position: relative;
	background-color: rgb(25,25,25);
	box-shadow: 0 2px 1px rgba(255,255,255,0.9), 0 -2px 1px rgba(255,255,255,0.9);
}

.elastislide-horizontal {
	background-color: transparent;	
	opacity: 0.8;
}
.elastislide-horizontal:hover {
    opacity: 1.0;    
}
.elastislide-carousel ul li a{
	padding: 2px;
}

.elastislide-carousel ul li a img {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: none;
	box-shadow: 0 1px 2px #000;
	cursor: pointer;
	width:58px;
}

.elastislide-wrapper nav span {
	background-color: #666;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.elastislide-carousel ul li.current-img a img {
	box-shadow: 0 0 3px 2px rgba(62,235,255,0.8);
}
@media screen and (max-width: 690px) {
	.codrops-demos {
		float: left;
		clear: both;
	}
}
.babys_show{
	
}
.babys_show img {
	width: 100%;
}
/*********說明*************/
.help{
	height: 25px;
	position: absolute;
	margin-left: 2px;
	margin-top: -1px;	
}
.explan{
	background-image: url("../img/baby_fourcolor.png"); 
	background-repeat: no-repeat; 
	background-position: 85% 50%; 
	background-size:28%;
	font-weight:bold;
	padding-left:15px;
}
.help_item{
	float:left;
	height: 100%;
	width:25%;
	line-height:40px;
	position: relative;
}
.help_text {
	position: absolute;
	right: -20px;
	bottom: 0px;
	z-index: 5;
	color: black;
}
/*****************/

#choose div{
	margin-left: -5px;
}
#choose  button{
	border-radius: 0px;
}
#specialtyModal img{
	width: 110%;
	margin-top: -32px;
	margin-left: -15px;
	border-radius: 5px;
}

#loginModal .modal-content,#signupModal .modal-content,#becomeModal .modal-content{
	background-color: #F7F7F7;
}


#signupModal label{
	text-align:right;
	line-height:34px;
}
@media  (min-width: 768px){
	#signupModal  .modal-dialog {
		width: 500px;	
	}
	#loginModal  .modal-dialog {
		width: 380px;	
	}
	#becomeModal  .modal-dialog {
		width: 500px;	
	}
}


.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
.modal{
	overflow-y: scroll;
}
/**loading***/
#loader_baby{
	position: absolute;
	/*background-color: black;*/
	z-index: 9999;
	opacity: .8;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display:none;
}
.loader,
.loader:before,
.loader:after {
  background: #b7b7b7;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  opacity: 0.7;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 13em auto;
  position: relative;
  font-size: 11px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #b7b7b7;
    height: 4em;
	opacity: 0.7;
  }
  40% {
    box-shadow: 0 -2em #b7b7b7;
    height: 5em;
	opacity: 0.7;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #b7b7b7;
    height: 4em;
	opacity: 0.7;
  }
  40% {
    box-shadow: 0 -2em #b7b7b7;
    height: 5em;
	opacity: 0.7;
  }
}
/**loading***/

#loader2{
	position: absolute;
	background-color: black;
	z-index: 9999;
	opacity: 0.8;
	top: 0;
	bottom: 25px;
	left: 0;
	right: 0;
	/*display:none;*/
}
.loader2 {
  /*margin: 4em auto;*/
	font-size: 17px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: absolute;
	text-indent: -9999em;
	-webkit-animation: load6 1.1s infinite ease;
	animation: load6 1.1s infinite ease;
	top: 44%;
	left: 49%;
}
@-webkit-keyframes load6 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load6 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
/*******************************/


#loading {
	display:none;
}
.progress {
	margin-bottom:0px;
	height: 20px;
	border-radius: 15px;
}
.slider {
	position: relative;
	z-index: 0;
	top: 0;
	overflow: hidden;
	background: #fff;
	/*min-height: 450px;*/
	margin-bottom: 25px;
}
@media (min-width: 1200px) {
	.slider {	height: 480px;	}
	.camera_wrap{	min-height: 480px; }
}

.list_carousel {	
	width: auto;
	margin: 0 20px;
}
.list_carousel li {	
	text-align: center;
	width: 175px;
	/*height: 300px;*/
	padding: 0;
	margin: 4px;
	display: block;
	float: left;
}
#carousel_ul{
	padding: 0;
}
#carou_prev{
	position:absolute;
	top: 35%;
	left: 0px;
}
#carou_next{
	position: absolute;
	top: 35%;
	right: 0px;
}
.thumbnail .caption{
	background-color: white;
	margin-top: -5px;
}
.thumbnail{
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
/************Mobile****************/

.mobile-header{
	background: white;/*#3A4D5B;*/
	border-bottom: 1px solid #eee;
}
.mobile-menu{


}
.logo{
	float: left;
	padding: 16px;
}
.logo img{
	height: 32px;
}
.menu_btn{
	padding: 16px;
	float: right;
	cursor:pointer;
}
.top-nav{
	
}
.top-nav ul{
	padding: 0;
	margin: 0;
}
.top-nav span.menu:before{
	content:url("../img/nav-icon.png");
	cursor:pointer;	
	width:100%;
}
.top-nav ul li{
	display:block;
	float:none;
	margin: 6px 0 0 0;
	padding: 0 0;
	text-align: center;
	border-bottom: 1px solid rgba(238, 238, 238, 0.38);
}
.top-nav ul li a{
	color:black;
	border: none;
	padding: 0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
	line-height: 45px;
	font-size: 18px;
}
.top-nav ul li a:hover,.top-nav ul li a.active{
	color:#2EB8A3;
	border: none;
}
.top-nav ul{
	display:none;
	background:white;
	
	
	z-index: 999;
	
	margin: 0em 0em;
	
}
.top-nav span.menu{
	display: block;
	width: 100%;
	position:relative;
	padding: 1em ;
	text-align: right;
}
.top-nav ul li  span{
	display: none;
}
@media  (max-width: 760px){
	#filters{
		argin-left: -10px;
	}
	#filters button{
		width:120px;
		margin-bottom: 15px;
	}
	/*#area + .bootstrap-select,#area + .bootstrap-select button{
		position: absolute;
		right: 0;
		top: 0;
	}
	#specialty + .bootstrap-select{
		position: absolute;
		
	}
	#sort + .bootstrap-select,#sort + .bootstrap-select button{
		position: absolute;
		right: 0;
	}	*/
	.searching{
		margin-top:10px;
	}
}

address{
	margin:0;
}
.home_board{	
	padding: 0;
	margin-bottom:20px;
	border:1px solid #bbb;
}
.home_board a:hover{
	opacity:0.9;
}
.board_content{
	height:350px;
	padding:20px;
}
.board_content h3{
	margin:0;
	padding-bottom: 20px;
}
.board_content ul{
	list-style: none;
	padding-left:0;
}
.board_content li{	
	padding-bottom:10px;
}
.board_content p{
	padding:0;
	line-height: 32px;
}
.company_content{
	padding:20px;
	padding-left:40px;
	height:400px;
	color: #8b6d97;
}
.company_content h4{
	margin:0;
	padding: 15px 0 10px 0;
	font-weight:bold;
}
.company_content p{
	margin:0;
	padding: 0 0 5px 10px;
	font-family: 'Lato', sans-serif;
}
.company_content img{
	margin-bottom:20px;	
	width:100px;
	border-radius: 10px;
}
.company_img{
	width:100px;
	border-radius: 10px;
	float: left;
	margin-right: 25px;
}
.i-size{
	font-size: 23px;
	line-height: 30px;	
	position: absolute;
	left: 0;
	display: inline-block;
	margin-right: 10px;
	margin-top: -4px;
	margin-left: 22px;
}
.link_arr {
	display: inline-block;
	margin-top: 0px;
	width: 100%;
	padding: 15px 0px 15px;
	padding-left: 20px;
	padding-right: 50px;
	text-decoration: none;
	font: 16px "Rokkitt", Arial, sans-serif;
	color: white !important;
	letter-spacing: 9px;
	background-color: #6d8797;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	text-align: left;
}
.link_arr:before {
	position: absolute;
	display: inline-block;
	content: '';
	width: 14px;
	height: 27px;
	right: 33px;
	top: 13px;
	background: url(../img/arrow1.png) no-repeat 0 0;
}
.camera_pag{
	margin-top: -50px;
}
.camera_wrap .camera_pag .camera_pag_ul{
	text-align: center;
}

#about_btn ul{
	list-style: none;
}
#about_btn li{
	margin: 20px 0 25px 0;
}
#about_btn a{
	background-color:#737373;
	color:white;
	width:140px;
	height: 30px;
	line-height: 17px;
	letter-spacing: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	padding-left:0;
	position: relative;
	font-size: 18px;
}
#about_content{
	/*margin-top: 20px;*/
}
#about_content p {
	font-size:14px;	
	margin-bottom: 4px;
}
#about_btn li:hover{
	opacity:0.9;
}
.phone{
	float: right;
	margin-right: 15px;
	margin-top: 10px;
	color: #428bca !important;
}
.btn-right:before {
	position: absolute;
	display: inline-block;
	content: '';
	width: 8px;
	height: 8px;
	right: 10px;
	top: 10px;
	border-radius: 99em;
	/*background-color: #c188e9;*/
}
.color1:before{	background-color: #c188e9;}
.color2:before{	background-color: #8585e7;}
.color3:before{	background-color: #86aee9;}
.color4:before{	background-color: #86d2e9;}
.color5:before{	background-color: #87e9d2;}
.color6:before{	background-color: #8ce384;}
.color7:before{	background-color: #d3e985;}
.color8:before{	background-color: #e8d086;}

.whyme span{
	color:#74238A;
	font-size:26px;
	letter-spacing: 5px;
	font-weight:bold;
	margin-top: 38px;
	margin-bottom: 10px;
	display: inline-block;
}
.whyme span:first-child{
	font-size:36px;
	letter-spacing: 15px;
}

.whyme ul{
	list-style: none;
	padding-left:0px;
	color: indianred;
	font-size:18px;
}
.whyme li{
	padding: 7px 0;
}

.abt_banner{
	height: 420px;
}
.abt_banner .camera_pag{
	margin-top: -97px;
}
.block_youtube{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
}
.pc-other .item{
	margin: 5px;
}
.pc-other .item img{
	display: block;
	width: 100%;
	height: auto;
}

/****bootstrap tooltip ******/
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #fff;
  border-width: 5px 5px 0;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #fff;
  border-width: 0 5px 5px;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #ccc;
  border-width: 5px 5px 5px 0;
}
.tooltip-inner {
  color: #000;
  background: #fff;
  border: solid 1px #ccc;
  line-height:25px;
  font-size:14px;
}
article {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: 0px 1px 0px #999999;
	margin: 0px 10px 11px;
	position: relative;
	overflow: hidden;
}
article h2 {
	font-size: 25px;
	line-height: 1;
	margin: 0 20px 0px 20px;
	padding-bottom: 7px;
	padding-top: 20px;
	border-bottom: 3px double #ccc;
}
article .txtArea {
	font: 15px/22px Helvetica;
	color: #585858;
	padding: 20px;
}
article .txtArea dl {
	margin: 10px 0px 0px;
	padding: 0px;
}
article .txtArea dt {
	font-weight: bold;
	color: #000000;
	margin: 0px 0px 3px;
}
article .txtArea dd {
	font: 15px/22px Helvetica;
	color: #585858;
	margin: 0px;
	padding: 0px;
}
article .txtArea .secondLayer {
	margin: 0px 0px 0px 48px;
	padding: 0px;
	list-style: decimal outside none;
}
article .txtArea .secondLayer li {
	margin: 0px 0px 3px;
}
article .txtArea dl p {
	margin: 0px;
	padding: 0px;
}
/*******************試手氣**********************/
#lucky #board_table thead {background-color:#7F69AE;	color:white;}
#lucky #board_table th{	border-left-color: transparent !important;}
#lucky #board_table th div{text-align: center;}
#lucky #board_table td{	vertical-align: middle !important;}
#lucky .publish{position: absolute;right:200px;top:10px;width:130px;color:white;cursor:pointer;}
#lucky .comment_tr{height:70px;}
#lucky .fixed-table-pagination{text-align:center;}
#lucky .pagination{float:none !important;}
#lucky .pagination-detail{display:none;}
/********************************會員中心**********************************/

#left_menu{	background-color:#EDF0F2;padding-top: 20px;	margin-top:-15px;}
#left_menu .panel{border:0;}
#left_menu .list-group-item:first-child{border-top-left-radius: 0;	border-top-right-radius: 0;}
#left_menu .panel-body{	padding: 0;}
#left_menu .list-group{	margin-bottom:0;}
.change_pic{
	width: 100%;
	height: 35px;
	line-height:35px;
	background-color: rgba(1,1,1,0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	text-align:center;	
	font-size:16px;
	color:whitesmoke;
	display:none;
	cursor:pointer;
}
#left_menu .photo:hover + .change_pic{
	display:block;
}
.change_pic:hover {
	display:block;
}
.member_title{
	border-bottom: 1px solid #eee;
	margin-bottom:15px;
}

td {
	vertical-align: middle !important;
}
a{
	cursor: pointer;
}
.editing_section{
	display:none;
}
.cancel_section a{
	display:none;
}

.note-editor{
	min-height: 450px;
	margin-bottom:15px;
}
.edit_gift{
	margin-bottom:15px;
}
.edit_btn{
	color:#428bca !important;
	display:none;
}
.action_td{
	padding: 8px 0 !important;
	width:50px;
}
.edit_tr:hover  .edit_btn{
	display:block;
}
#mygift{
	width:100%;
	position:relative;
}
#mygift img{
	width:100%;
}
#mygift textarea{
	width:100%;
	height:auto;
	resize: none;
	margin-top:5px;
	border: none;
}
#mygift .thumbnail{
	width: 90%;
	float: left;
	margin-right: 30px;
}
#mygift p{
	font-size: 18px;
}
#edit_gift{
	position:absolute;
	right:0;
	top:0;
}

.edit_gift_pic{
	width:100%;
	min-height:300px;
	background-color:#eee;
	text-align:center;
	position:relative;
	font-size: 18px;
}
.preview canvas{
	width:100%;
}
.new_gift{
	position:absolute;
	top: 0;
	left:60px;
	line-height: 300px;
}
#change_password .form-group{
	position:relative;
}
/**密碼強度***/
.pass_week{ float:left; background:indianred; width:30%; height:4px; margin-top:5px; margin-left:5px; _margin-top:0px;_height:2px; font-size:0px;}
.pass_normal{ float:left; background: #099; width:30%; height:4px; margin-top:5px; margin-left:5px; _margin-top:0px;_height:2px; font-size:0px;}
.pass_strong{ float:left; background: #060; width:30%; height:4px; margin-top:5px; margin-left:5px; _margin-top:0px;_height:2px; font-size:0px;}
.pass_org{ float:left; background:#d6d3d3; width:30%; height:4px; margin-top:5px; _margin-top:0px; margin-left:5px; _height:2px;font-size:0px;}
.pass_text{ float:left; width:30%; margin-left:5px; text-align:center; color:#b0adad; font-size:12px; }
.error-tip{ position:absolute;right:-20px;top: 32px;display:none; }
label.error { position: absolute;left: 186px;top: 8px;display: inline-table;color: indianred; }

#myphotos textarea{
	width:100%;
	border:none;
	resize:none;
}
.photo_placeholder{
	border:2px dashed #1b926c;
	background-color:#eee;
	height:241px;
	margin-bottom:5px;
}
.photos_delete{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 0;
	right: 5px;
	cursor: pointer;
	z-index: 400;
	border-right:1px solid #eee;
	border-top:1px solid #eee;
}
.photos_delete:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-bottom: 35px solid transparent;
	border-left: 35px solid transparent;
	border-right: 35px solid #fff;
}
.photos_delete i{
	position: absolute;
	right: 3px;
	top: 1px;
	z-index: 500;	
	color: indianred;
	font-size:18px;
}
.photos_delete:hover:after{
	border-right-color:indianred;	
}
.photos_delete:hover i{
	color: white;

}


/*******************秘卡搜尋*****************/
#secret_card .searching{ margin:30px 0;width:100%}
#secret_card .result{margin-bottom:30px;}
#secret_card .item{padding:10px 15px;border-bottom:3px solid #eee;}
#secret_card .company_pic{float:left;width: 93px;height: 93px;background-position: center center;background-size:cover;	}
#secret_card .company_info{margin-left:110px;}
#secret_card .list{line-height:31px;white-space: nowrap;width: 100%;text-overflow: ellipsis;overflow: hidden;}
#secret_card .list i{margin-right:5px;}
#secret_card .myname{font-size:18px;/*color:#428bca*/}
/*******************漸層色*****************/

.y_color{
	background: #ffd65e; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffd65e 0%, #f0ad4e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffd65e), color-stop(100%,#f0ad4e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffd65e 0%,#f0ad4e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffd65e 0%,#f0ad4e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffd65e 0%,#f0ad4e 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffd65e 0%,#f0ad4e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#f0ad4e',GradientType=1 ); /* IE6-9 */
}
.gray_color{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

/**********Bootstrap 5欄*****************/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
/**************************************/