a:link {color: #666666}
a:link{text-decoration: none}
a:visited {color: #666666}
a:visited{text-decoration: none} 
a:active {color: #666666}
a:hover {color: #ff3300}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: currentcolor !important;
  font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";
  /*background-color: #eee;*/
}
#refresh{
	cursor: pointer;
}
.baby_logo{
	width: 200px;
	margin: 15px 76px;
}
.panel-heading h3{
	float: left;
	margin-top: -3px;
}
#captcha_div{
	width:155px;
	height: 45px;
	float: left;
	font-size: 20px;
	font-family: Verdana,Geneva,sans-serif;
	margin-right: 8px;
	border-radius: 0px;
	padding: 3px 15px;
}
#captcha{
	margin-right: 5px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading {
	padding: 10px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
