#main{
	height: inherit !important;
}
#sponsor_step{
	width: 1170px;
	margin: auto;
	padding: 5px 0px 5px 35px;
}
#sponsor_step>div{
	display: inline-block;
	height: 140px;
}
#sponsor_step>div:nth-child(2n){
	border-width: 0px;
	border-left-width: 1px;
	border-style: solid;
	border-color: #8589a1;
	width: 19px;
}
.step_arrow{
	border-width: 15px;
	border-style: solid;
	border-color: #5B5D6C;
	border-top-color: white;
	border-right-color: white;
	border-bottom-color: white;
	height: 0px;
	margin-right: -15px;
	margin-top: 55px;
	width: 0px;
}
#sponsor_step>div:nth-child(2n-1){
	color: #595B67;
	height: 90px;
	padding-top: 20px;
	vertical-align: top;
	width: 170px;
}
#sponsor_step>div:nth-child(2n-1)>div{
	margin: auto 0px;
	text-align: left;
}
#sponsor_step>div:nth-child(2n-1)>div:first-child{
	font-size: 25px;
	margin-bottom: 20px;
}
#sponsor_step>div:nth-child(2n-1)>div:first-child span{
	background-color: #E4E6FF;
	border-radius: 25px;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	text-align: center;
	width: 50px;
}
#sponsor_step>div:nth-child(5)>div:last-child span{
	font-size: 14px;
}
#sponsor_step>div:last-child{
	width: 155px;
}
#sponsor_qa{
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1170px;
	height: 58px;
}
#sponsor_qa div{
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 174px 58px;
	color: white;
	cursor: pointer;
	float: left;
	font-family: 微軟正黑體;
	font-size: 31px;
	height: 58px;
	text-align: center;
	line-height: 58px;
	width: 50%;
}
#sponsor_qa span{
	background-image: url('../img/sponsor/QAhand.png');
	display: block;
	float: left;
	height: 31px;
	position: relative;
	left: 410px;
	top: 15px;
	width: 28px;
}
#sponsor_qa div:first-child{
	background-color: #8C41B7;
	background-image: url("../img/sponsor/QA_1.jpg");
}
#sponsor_qa div:nth-child(2){
	background-color: #415FB7;
	background-image: url("../img/sponsor/QA_2.jpg");
}
#sponsor_qa div:nth-child(3){
	border-top-width: 3px;
	border-top-style: dashed;
	border-top-color: white;
	bottom: 8px;
	height: 0px;
	position: relative;
	width: 1170px;
}
#sponsor_QA_dialog_1{
	margin: auto;
	text-align: center;
}
#sponsor_QA_dialog_1 p{
	margin: 7px 0px;
}
#sponsor_QA_dialog_1 p:nth-child(6){
	color: red;
	margin-bottom: 30px;
}
#sponsor_QA_dialog_1 p:nth-child(3){
	margin-bottom: 25px;
}
#sponsor_QA_dialog_1 p:nth-child(8){
	margin-bottom: 30px;
}
#sponsor_QA_dialog_1 img{
	width: 300px;
}
#sponsor_QA_dialog_2{
	margin: auto;
	text-align: center;
}
#sponsor_QA_dialog_2 p{
	margin: 7px 0px;
}
#sponsor_QA_dialog_2 p:nth-child(4),#sponsor_QA_dialog_2 p:nth-child(5){
	color: red;
}
#sponsor_QA_dialog_2 p:nth-child(7){
	margin: 25px 0px;
}
#sponsor_QA_dialog_2 p:nth-child(9){
	margin-bottom: 30px;
}
#sponsor_menu{
	margin: auto;
	width: 1170px;
}
#sponsor_menu div{
	display: inline-block;
	font-size: 20px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
#sponsor_menu div:nth-child(1)
{
	background-image: url('../img/sponsor/money.jpg');
	background-size: contain;
	margin-left: 15px;
	width: 308px;
}
#sponsor_menu div:nth-child(2)
{
	background-image: url('../img/sponsor/money.jpg');
	background-size: contain;
	width: 300px;
}
#sponsor_menu div:nth-child(3)
{
	background-image: url('../img/sponsor/btn_apply_mid.jpg');
	color: white;
	cursor: pointer;
	float: right;
	margin-right: 13px;
	padding: 0px;
	letter-spacing: 3px;
}
#sponsor_menu div:nth-child(3)::before
{
	content: url('../img/sponsor/btn_apply_left.jpg');
	float: left;
	height: 35px;
	width: 2px;
}
#sponsor_menu div:nth-child(3)::after
{
	content: url('../img/sponsor/btn_apply_right.jpg');
	float: right;
	height: 35px;
	width: 1px;
}
#sponsor_menu div:nth-child(4)
{
	background-image: url('../img/sponsor/btn_register_mid.jpg');
	color: white;
	cursor: pointer;
	float: right;
	letter-spacing: 3px;
}
#sponsor_menu div:nth-child(4)::before
{
	content: url('../img/sponsor/btn_register_left.jpg');
	float: left;
	height: 35px;
	width: 2px;
}
#sponsor_menu div:nth-child(4)::after
{
	content: url('../img/sponsor/btn_register_right.jpg');
	float: right;
	height: 35px;
	width: 1px;
}
#sponsor_list{
	border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	clear: both;
	margin: auto;
	margin-top: 10px;
	width: 1142px;
}
#sponsor_list ul{
	display: inline;
	list-style-type: none;
    margin: 0;
    padding: 0;
}
#sponsor_list li{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #EEEEEE;
	float: left;
	font-family: 微軟正黑體;
	height: 55px;
	text-align: center;
	line-height: 55px;
	width: 130px;
}
#sponsor_list li:nth-child(1){
	width: 149px;
}
#sponsor_list li:nth-child(3),#sponsor_list li:nth-child(4){
	width: 168px;
}
#sponsor_list li:nth-child(4){
	width: 190px;
}
#sponsor_list li:nth-child(5){
	text-align: left;
	width: 450px;
}
#sponsor_list li:nth-child(6){
	border: none;
	padding-left: 2px;
	width: 50px;
}
.activity_info{
	border-width: 0px;
	border-top-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
	cursor: pointer;
	min-height: 55px;
}
.activity_info:hover{
	background-color: #FFFFCC;
}
.activity_info div{
	color: gray;
	font-size: 14px;
	max-width: 1100px;
	padding-left: 30px;
}
.activity_info div span{
	word-break:break-all;
	word-wrap: break-word;
}
.activity_info ul li:first-child{
	color: blue;
	text-decoration: underline; 
}
.activity_info:first-child ul li:first-child{
	color: black;
	text-decoration: none; 
}
#sponsor_list .btn_sponsor{
	background-image: url('../img/sponsor/btn_sponsor_mid.jpg');
	background-size: contain;
	color: white;
	font-size: 17px;
	line-height: 50px;
	margin: 2px auto;
	padding: 0px;
	height: 50px;
	width: 50px;
}
#sponsor_list .btn_sponsor::before{
	content: url('../img/sponsor/btn_sponsor_left.jpg');
	float: left;
	height: 50px;
	width: 4px;
}

#sponsor_list .btn_sponsor::after{
	content: url('../img/sponsor/btn_sponsor_right.jpg');
	float: right;
	height: 50px;
	width: 4px;
}
#sponsor_list .activity_info:first-child{
	border-top-width: 0px;
	background-color: white;
	cursor: default;
}
#sponsor_list .activity_info:first-child:hover{
	background-color: white;
}
.sorter{
	border-radius: 15px;
	height: 44px;
	margin-top: 3px;
	padding-left: 7px;
	width: 85%;
}

.sorter:focus{
	border-radius: 15px;
	border-color: #07c;
	outline: none;
}
#sponsor_pager{
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	width: 1170px;
}
#sponsor_pager ul{
	list-style-type: none;
	padding: 0px;
	margin: auto;
}
#sponsor_pager li{
	border-width: 1px;
	border-style: solid;
	border-color: white;
	cursor: pointer;
	display: inline-block;
	min-width: 20px;
}
#sponsor_pager li:hover{
	border-color: #EEEEEE;
	background-color: #CCCCCC;
}
#sponsor_pager .active{
	color: #AAAAAA;
	cursor: default;
}
#sponsor_pager .active:hover{
	border-color: white;
	background-color: white;
}
#sponsor_pager .movepage{
	display: inline-block;
	width: 55px;
}




