#main{
	height: inherit !important;
}
#apply_step{
	width: 1170px;
	margin: auto;
	padding: 5px 0px 5px 0px;
}
#apply_step>div{
	display: inline-block;
	height: 140px;
}
#apply_step>div:nth-child(2n){
	border-width: 0px;
	border-left-width: 1px;
	border-style: solid;
	border-color: #8589a1;
	width: 19px;
}
.step_arrow{
	border-width: 15px;
	border-style: solid;
	border-color: #5B5D6C;
	border-top-color: white;
	border-right-color: white;
	border-bottom-color: white;
	height: 0px;
	margin-right: -15px;
	margin-top: 55px;
	width: 0px;
}
#apply_step>div:nth-child(2n-1){
	color: #595B67;
	font-size: 20px;
	height: 90px;
	padding-top: 20px;
	vertical-align: top;
	width: 225px;
}
#apply_step>div:nth-child(2n-1)>div{
	margin: auto 0px;
	text-align: left;
}
#apply_step>div:nth-child(2n-1)>div:first-child{
	font-size: 25px;
	margin-bottom: 20px;
}
#apply_step>div:nth-child(2n-1)>div:first-child span{
	background-color: #E4E6FF;
	border-radius: 25px;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;
	text-align: center;
	width: 50px;
}
#apply_step>div:last-child{
	width: 140px;
}
#apply_step>div:first-child{
	padding-left: 40px;
}
.shadow{
	background-image: url('../img/studentapply/shadow.jpg');
	height: 5px;
}
#student_apply{
	background-color: #F9F7F3; 
	padding: 40px 0px;
}
#apply_form{
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	border-radius: 8px;
	background-color: #EEEEEE; 
	box-shadow: 0px 0px 10px #C0C0C0;
	margin: 0px auto;
	padding: 0px 20px;
	position: relative;
	width: 1000px;
}
#apply_form input{
	max-width: 300px;
}
#content_info{
	right: 15px;
	position: absolute;
	top: 86px;
	width: 650px;
}
#content_info textarea{
	height: 478px;
}
#apply_form h3{
	background-color: #4897BE;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: white;
	line-height: 55px;
	height: 55px;
	margin: 1px -20px;
	margin-bottom: 30px;
	text-align: center;
}
#apply_dialog_1 button{
	background-color:#20c49b;
	box-shadow: 0px 2px 4px -2px black;
	color: white;
	margin-right: 232px;
	width: 100px;
}
#apply_dialog_content div:first-child{
	display: inline-block;
	width: 180px;
}
#apply_dialog_content div:last-child{
	display: inline-block;
	font-size: 17px;
	line-height: 30px;
	position: relative;
	top: 30px;
}
#apply_dialog_2 img{
	float: right;
}
#apply_dialog_2 div{
	text-align: left;
}
#apply_dialog_2 .first_btn{
	background-color:#e2e2e2;
	box-shadow: 0px 2px 4px -2px black;
	color: white;
	margin-left: 183px;
	width: 100px;
}
#apply_dialog_2 .last_btn{
	background-color:#fa5f5f;
	box-shadow: 0px 2px 4px -2px black;
	color: white;
	width: 120px;
}
#apply_dialog_3 button{
	background-color:#fa5f5f;
	box-shadow: 0px 2px 4px -2px black;
	color: white;
	margin-right: 232px;
	width: 100px;
}
#non_regist{
	background-color: #F5F5F5;
	margin: 19px -15px -26px -15px;
	padding: 5px 0px 0px 18px;
}
.error{
	border-color: red;
	color: red;
}
#apply_form input{
	color: #555;
} 
#btn_submit{
	font-size: 20px;
	letter-spacing: 20px;
	margin-left: 380px;
	padding-left: 30px;
}