a:link 	  {color: #666666}
a:link	  {text-decoration: none;outline:none;}
a:visited {color: #666666}
a:visited {text-decoration: none;outline:none;} 
a:active   {color: #666666;outline:none;}
a:hover 	  {color: #428bca;outline:none;}
ul, ol, li{list-style: none;}
h4{font-size: 16px;}
td {vertical-align: middle !important;}
a{cursor: pointer;}
/***自訂的卷軸**/
.my_scrollbar::-webkit-scrollbar{-webkit-appearance:none;width:10px}
.my_scrollbar::-webkit-scrollbar-thumb{border-radius:4px;background-color:rgba(0,0,0,0.5);-webkit-box-shadow:0 0 1px rgba(255,255,255,0.5)}
.noselect{-moz-user-select:none;-webkit-user-select: none;}
.noscroll{position: fixed;overflow-y: scroll;width: 100%;}
.pointer{cursor:pointer;}
.trans{background-color:transparent;}
.rela{position:relative;}
.hidding{display:none;}
.w100{width: 100%;}
.float{float:left}
html, body{
	font-family: "微軟正黑體","Roboto","Microsoft JhengHei","Helvetica Neue","Arial","Trebuchet MS","Helvetica","Verdana","sans-serif";
	font-size: 13pt;
	background-color:#ffffff;
	position:relative;
	height: 100%;
	margin:0px;
	-webkit-font-smoothing: antialiased;
}


#top{position:absolute;width:100%;height: 50px;background: rgba(255, 255, 255, 1);border:0;}
#top .navbar-brand{color:#ffffff;font-size:28px;padding:10px 15px;}
#top .navbar-brand img{height:100%} 
#top.shadow{box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);position:fixed!important;}
.top .nav>li>a{color:rgba(255, 255, 255, 0.75);font-size:15px;}
.top .nav>li>a:hover{background:transparent;color:#e44c65;}
.top .pad{padding: 8px;position: relative;width: 120px;text-align: center;}
.top .btn{background:#e44c65;color:#ffffff;outline:none;}
.top .btn:hover{opacity:0.9}
#top .navbar-toggle{position: absolute;right: 0;background: #e44c65;margin: 0;height: 100%;width: 50px;border-radius: 0;}
#top .icon-bar{background:#eee;width:100%;}
.top .login{background-color:#fff!important;color:#777!important;border-color:#aaa}
.top .topbtn:hover{background-color:#e44c65!important;color:#ffffff!important;}
@media (max-width: 768px){
	#top .navbar-header{text-align:center;height: 50px;} 
	#top .navbar-brand{display: inline-block; float: none;}
}

#navbar{background:#fff;}

label{text-align:left!important;}
section{position:relative;height:100vh;overflow:hidden;min-height: 650px;}

section .next{position: absolute;left: 0;bottom:0;right: 0;text-align:center;z-index: 5;}
.goto-next{font-size:40px;}
.bg{background-attachment: fixed; background-position: center center;background-size: cover;}
/*@media (max-width: 768px){
	section{height:auto} 
}*/


#cover{background-color: #272833;background-image: url(../img/3093x2062_7nei.jpg);background-position: center center;background-size: cover;text-align:center;font-size:1.3em}
#cover .content{display: inline-block;max-width:95%;padding:6em;position:relative;text-align:right;vertical-align:middle;z-index: 1;text-align: center;padding-top: 50px;padding-bottom:130px!important}  
#cover:before{ content: '';display:inline-block;height: 100vh;vertical-align: middle;}
#cover .home_text{display: inline-block;letter-spacing: 4px;}
#cover .home_img{ height: 18em;margin-left: 3em;vertical-align: middle; width: 18em;border-radius: 4px;border: 0;display: inline-block; position: relative;overflow: hidden;}
#cover .home_img img{width:100%;border-radius:50%}
@media (max-width: 956px){
	#cover .home_img{margin-left:0;margin-top:2em}
}
@media (max-width: 768px){
	section{ min-height: initial;}
	#cover .content{padding:10%;padding-top: 50px;}
	#cover .home_img{width:100%;height: auto}
	#cover p{font-size: 0.9em;}
}

/*固定bar*/
#fixtop {background-color:white;}
/*#fixtop a{line-height: 40px;}*/
#fixtop .area li a{color:#666666;font-size:1.18em;}
#fixtop button{margin: 18px 0;font-size: 18px;padding: 8px 26px;}
#fixtop .active{font-weight:700;color:#ff0000!important;}
#fixtop ul{position:relative;margin-right: 0;}
#fixtop .nav_dash{position: absolute;top:0;left: 0;width: 120px;z-index: 2;margin: 0px;height: 6px;background-color: #ff0000;}
#fixtop li{position:relative;width: 120px;text-align: center;} 
#go_top{margin-right: 15px;}

.channel .contents{height: 100%;padding:8em 3em 6em 3em;width:100%;position: absolute;top: 0;background: rgba(23, 24, 32,1);border: 0;color: rgba(255, 255, 255, 0.75);}
.channel .item_h1{position:relative;}
.channel h3{color:#fff;font-weight:bold;margin:2em 0 1em 0}
.channel img.img-circle{width: 70%;}
.channel .info{margin:5em 0;}
/*各式舞台*/
#stage {}
#stage .contents{background: rgba(23, 24, 32,1);}  


/*展演匯集*/
#showcase {}
#showcase .contents{background: #f2f2f2;}
#showcase h1{color: #000000;}
#showcase h3{color: #002060;}
#showcase p{color: #000000;}

#faq{background: rgba(23, 24, 32,1);color:whitesmoke;padding:7em 2em}
#faq h2{font-size:40px;color:#FFFFFF;margin-left:-22px;}
#faq h3{font-size:20px;color:whitesmoke;cursor:pointer;display: inline-block;margin-top: 8px;margin-bottom: 10px;  font-weight: 100;}
#faq p{font-size:16px;color:whitesmoke;font-weight:100; display:none;color:#ccc;}
#faq .arrow{font-size: 18px;position: absolute;left: -8px;top: 10px;color:whitesmoke;}
#faq li{list-style: decimal; color:whitesmoke; display:none;}
#faq ol{padding-left: 27px;margin: 0;}
#f2 .channel .item{  height: auto;}
@media (max-width: 1400px){
.channel .info {margin:1em;}
}
@media (max-width: 768px){
section{overflow:visible;height: auto;}
.channel  .contents{position:relative!important;padding:0}
.channel .item_h1{position:relative;height:100vh}
.channel h1{font-size:1.7em;margin:0}
.channel .item{height:100vh;}
.channel .item:before{ content: '';display:inline-block;height: 100vh;vertical-align: middle;}
.channel .item_center{display: inline-block;max-width: 95%;vertical-align: middle;z-index: 1;}
.channel .info {margin:0;}
#faq{padding:0}
#faq .item{text-align:center;}
#faq .item_center{text-align:left;}
#faq .one{margin-left: 25px;}
#f2{padding-bottom:30px;padding-top:30px;}
#faq h2{margin-left:0;}
}

footer {background-color:#747474;padding:15px 20px 10px 20px;color:white}
footer .icon_img{width:50px;}
footer h4{color:white;}
footer p{font-size:13px;}
footer .text-center{padding:20px 0px;}
.turn90{-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg); transform: rotate(90deg);}

#main{padding-top: 5em;}
#main section{height:auto}

@media (min-width: 1500px){
#show_container.container {width: 1470px;}  
}

@media (min-width: 1200px){
#detail_container.container {width: 880px;}  
}
@media (min-width: 992px){
#detail_container.container {width: 880px;}  
}
/*#stages hr{border:1px solid #000}
#stages .thumbnail {margin-bottom:0}
#stages .thumbnail .caption{height: 150px;}
#stages .outer{padding:12px 10px;border:8px solid transparent;margin-bottom:20px;}
#stages .inner{border:3px solid transparent}
#stages .outer:hover{border-color:#FF7111}
#stages .outer:hover > .inner{border-color:#FF7111}
#stages .how{padding-left:10em;background-color:#E4DD07;}
#stages .how h1{line-height:130px;font-size:55px;color:#5A5A5A;float: left;}
#stages .more{background-color:#404040;color:white;padding:10px;float: left;margin-left:50px;margin-top:60px;cursor:pointer}
*/
.block img{width:100%;}

#detail {word-wrap: break-word;}
.pluginConnectButton{width:65px;}

#login{background-color: #1c1d26;z-index:0;}
#login .login{position: absolute;top: calc(50% - 150px);left: calc(50% - 160px);height: 150px;width: 320px;padding: 10px 35px;z-index: 2;}
#login .login input[type=text]{width: 100%;height: 30px;background: transparent;border: 1px solid rgba(255,255,255,0.6);border-radius: 2px;color: #fff;font-family: 'Exo', sans-serif;font-size: 16px;	font-weight: 400;padding: 4px;}
#login .login input[type=password]{width:100%;height:30px;background:0 0;border:1px solid rgba(255,255,255,.6);border-radius:2px;color:#fff;font-family:Exo,sans-serif;font-size:16px;font-weight:400;padding:4px;margin-top:10px}
#login .login input[type=submit]{width:100%;height:35px;background:#fff;border:1px solid #fff;cursor:pointer;border-radius:2px;color:#a18d6c;font-family:Exo,sans-serif;font-size:16px;font-weight:400;padding:6px;margin-top:10px}
#login .login input[type=submit]:hover{opacity:.8}
#login .login input[type=submit]:active{opacity:.6}
#login .login input[type=text]:focus{outline:0;border:1px solid rgba(255,255,255,.9)}
#login .login input[type=password]:focus{outline:0;border:1px solid rgba(255,255,255,.9)}
#login .login input[type=submit]:focus{outline:0}
#login a.regist{width:100%;height:35px;background:#FF7373;border:1px solid #FF7373;cursor:pointer;border-radius:2px;color:#000;font-family:Exo,sans-serif;font-size:16px;font-weight:400;padding:6px;margin-top:10px}
#login .forget{background-color:transparent;border: 1px solid transparent;color:#fff;opacity:0.8}
@media (max-width: 768px){
#login{height: 100vh;}
}


#forgetModal{color: #797979;}
#forgetModal label{font-size: 13px}
#forgetModal .captcha_code {width: 150px;display: inline-block;}
.forget{color:#fff;}
::-webkit-input-placeholder{ color: rgba(255,255,255,0.6);}
::-moz-input-placeholder{ color: rgba(255,255,255,0.6);}

.black_form{background: #1c1d26;color: rgba(255, 255, 255, 0.75);padding: 0 15px;padding-bottom: 80px;}
.black_form input{background: transparent;border: solid 1px rgba(255, 255, 255, 0.3);height:34px;color:rgba(255, 255, 255, 0.5);}
.black_form textarea{background: transparent;border: solid 1px rgba(255, 255, 255, 0.3);color:rgba(255, 255, 255, 0.5);}
.black_form label{ font-weight: 100;}
.black_form .circles{border-radius: 5px;width: 80px;height: 34px;position: absolute;left: calc(50% - 40px);top: calc(50% - 16px);}
.black_form input:checked + .circles { border: 3px solid #e44c65;}
.black_form .circles2{border-radius: 5px;width: 94px;height: 34px;position: absolute;left: calc(50% - 47px);top: calc(50% - 16px);}
.black_form input:checked + .circles2 { border: 3px solid #e44c65;}
.black_form .la45{line-height: 45px;padding-top: 0;font-size: 14px;color: rgba(255, 255, 255, 0.5);}
.black_form .boder{background: transparent;border: solid 1px rgba(255, 255, 255, 0.3);  border-radius: 4px;}
.black_form select{background: #1c1d26;color: rgba(255, 255, 255, 0.5);font-size:14px;padding: 6px;margin-right: 20px;border-radius: 4px;cursor: pointer;border: solid 1px rgba(255, 255, 255, 0.3);}
.black_form .county-style{float:left;width:15%;}
.black_form .district-style{float:left;width:15%;}
.black_form .zipcode-style{display:none;}
.black_form #clear{background-color:#ff2d21;color:#fff;margin-right:20px;}
.black_form #go_register{background-color:#6ec038;color:#fff}
.black_form  input.e-datepicker{background-color: transparent!important;color:rgba(255, 255, 255, 0.5)!important;}
.black_form  .e-datewidget {display: none;}
/*.black_form .form-horizontal .form-group { height: 45px;}*/
.black_form  button.dropdown-toggle.selectpicker{background: transparent;border: solid 1px rgba(255, 255, 255, 0.3);height: 34px;color: rgba(255, 255, 255, 0.5);}
/******smart-forms checkbox和radio********************************/
.smart-forms .option{cursor:pointer;margin-right:15px;}
.smart-forms, .smart-forms * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.smart-forms .option>input {position: absolute;height: inherit;width: inherit;opacity: 0;left: 0;}
.smart-forms input:checked+.checkbox, .smart-forms input:checked+.radio {border: 3px solid #1abc9c;}
.smart-forms .checkbox, .smart-forms .radio {position: relative;margin-right: 2px;background: transparent;display: inline-block;border: 3px solid #b5c1c7;height: 21px;width: 21px;top: 5px;min-height: inherit;border-radius: 5px;}
.smart-forms .checkbox:before {position: absolute;top: 4px;left: 3px;width: 6px;height: 3px;border: solid #1abc9c;border-width: 0 0 3px 3px;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
.smart-forms .checkbox:before, .smart-forms .radio:before {content: '';display: none;box-sizing: initial;}
.smart-forms input:checked+.checkbox:before, .smart-forms input:checked+.radio:before {display: block;}
.smart-forms .checkbox:before {position: absolute;top: 4px;left: 3px;width: 6px;height: 3px;border: solid #1abc9c;border-width: 0 0 3px 3px;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
.smart-forms .radio:before {margin: 4px;width: 7px;height: 7px;background: #1abc9c;-webkit-border-radius: 10px;-moz-border-radius: 10px;-o-border-radius: 10px;border-radius: 10px;margin-top:-3px;}
.smart-forms .radio {-webkit-border-radius: 20px;-moz-border-radius: 20px;-o-border-radius: 20px;border-radius: 20px;}

.product-thumb {border: 1px solid #ddd;margin-bottom: 20px;overflow: auto;}
.product-thumb .image {text-align: center;}
.product-thumb .image a {display: block;}
.product-thumb .caption {padding: 0 20px;min-height: 90px;}
.product-thumb h3 {font-weight: bold;font-size:20px}
.product-thumb .price {color: #444;}
.product-thumb .price-tax {color: #999;font-size: 16px;display: block;}
.product-thumb .button-group {border-top: 1px solid #ddd;background-color: #eee;overflow: auto;}
.product-thumb .button-group button {width: 45%;border: none;display: inline-block;float: left;background-color: #eee;color: #888;line-height: 32px;font-weight: bold;text-align: center;text-transform: uppercase;cursor: default;outline:0;}
.product-thumb .button-group button + button {border-left: 1px solid #ddd;}
.product-thumb .button-group button + button:hover{background-color: #ddd;text-decoration: none;}
.product-thumb .button-group .type-group{ width: 55%;}
.product-thumb .button-group .love-group{ width: 45%;cursor: pointer;}
.product-thumb .button-group button.love{color: #e44c65;}
@media screen and (max-width: 1500px) {
.product-thumb h3 {font-size:17px}
.product-thumb .price-tax {font-size: 14px;}
}
@media screen and (max-width: 768px) {
.product-thumb h3 {font-size:20px}
.product-thumb .price-tax {font-size: 18px;}
}


/*#shows{min-height:100vh}*/
#shows .image{width:205px;float: left;margin-bottom: -5px;}
#shows .info{width:calc( 100% - 220px );float: left;border-bottom: 2px solid #ddd;padding-bottom: 3px;margin-left: 15px;overflow: hidden;}
#shows .info ul{padding-left:0px;margin-bottom: 0px;}
#shows .info li{display: table;margin-bottom: 9px;width: 100%;}
#shows .info li:last-child{margin-bottom: 0px;}
#shows .one_show{margin: 0 20px 0px 30px;padding: 10px 0 0 0;width: calc( 100% - 50px );}
#shows .product-thumb .info{float: left;}
#shows .title h4{float: left;margin-bottom:0;margin-top: 0;}
#shows .date{font-size:26px;font-weight:bold;color:#002060;width:80px}
#shows .week{font-size:20px;text-transform: uppercase;font-weight:bold;color:#001145;padding-top:5px;margin-left:10px;width:80px}
#shows .name{font-size: 20px;color: #e44c65;font-weight: bold;width: calc( 100% - 210px );overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#shows span{color: #a2a0a1;font-weight: 700;font-size: 16px;margin-right:30px;}
#shows .icon{position: absolute;right: -28px;bottom: 4px;font-size:20px;padding-left: 15px;}
@media (max-width: 768px){
#shows .image{width:auto;float: none;}
#shows .one_show{width: auto;margin: auto;}
}
@media (max-width: 1200px){
#shows .icon{position: relative;right:0;bottom:0}
}
/*button.filters{background: #1ab394;color: white;margin: 25px 15px 0 15px;width: 190px; }*/
button.filters{line-height: 7px;padding: 5px;margin-left:8px;  margin-top: 0px;float: right;}

#more {cursor:pointer;display:none;letter-spacing: 18px;background-color: #4ABAEC;color: white;margin-bottom: 20px;font-weight: bold;width: 100%;border-color: #4ABAEC;line-height:40px;font-size: 16px;}
.load_more{background-image: linear-gradient(180deg,#e44c65 0%,#E28695 100%);}
.progress{width: calc(100% - 20px);display: inline-block;height: 40px;}

#other_detail_type{ height: 34px;width: 150px;margin: 6px 0;}
#provide_stage .input-group-addon{ color: rgba(255, 255, 255, 0.6);background: #1c1d26;border: solid 1px rgba(255, 255, 255, 0.3);}
#provide_stage .input-group{height: 34px;width: 150px;margin: 6px 0;}
#provide_stage input{height: 34px;}
.clockpicker{text-align:center}
.col-fixed, .rows {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
   /*固定欄位寬度300像素*/
	.col-fixed {
		width: 220px;
	}
	.rows {
		/*background: #EEE;*/
		width:calc(100% - 220px);
		float: right;
	}
}

.btn-info.topbtn:hover{background:#5bc0de!important;}


.base {min-height: 20px;padding: 15px 0;background-color: white;border: 1px solid #e3e3e3;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;margin-bottom: 20px;}
.nav-header {display: block;padding: 4px 2px;font-size: 16px;font-weight: bold;line-height: 20px;color: #685D5D;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);text-transform: uppercase;}
.nav-list {padding-right: 15px;padding-left: 15px;margin-bottom: 0;}
.nav-list  .active  a, .nav-list .active a:hover {color: #5F5F5F;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);background-color: whiteSmoke;border-top: 1px solid #E6E6E6;border-bottom: 1px solid #E6E6E6;border-left: 4px solid #F3984D;}
.blue .active a{border-left: 4px solid #007FFF;}
.blue .active a:hover{border-left: 4px solid #007FFF;}
.nav-list  .fa{display:none;}
.nav-list  .bb{display:none;}
.nav-list  .bb:hover{background:#eee}
.nav-list  .active .fa{display: inline-block;}
.nav-list  li  a {display: block;padding: 8px 15px;color: #888;font-size: 14px;margin-right: -15px;margin-left: -15px;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.nav-list .dropdown-menu li a{margin-right: -0px;margin-left: 0px;}

.nav-list i {margin-right:15px;}
.nav-list .item{-moz-user-select:none;-webkit-user-select: none;}
[data-icon]:before {font-family: 'icomoon';content: attr(data-icon);speak: none;font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;}
.nav-list .divider {height: 2px;margin: 9px 0px;overflow: hidden;background-color: #e5e5e5;border-bottom: 1px solid #ffffff;}
.input-small{background-color: #ffffff;border: 1px solid #cccccc;display: inline-block;height: 20px;padding: 4px 6px;margin-bottom: 10px;font-size: 14px;line-height: 20px;color: #555555;vertical-align: middle;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;height: 30px;width: 100%;}
.prettyradio {display: inline-block;margin-left: 12px;}
.prettyradio a {width: 30px;height: 30px;background: url(../img/prettyCheckable-blue.png) top left no-repeat;display: block;float: left;cursor: pointer;margin: 0;background-position: 0 -120px;margin-right:0!important;margin-left:0!important;}
.prettyradio a.checked {background-position: 0 -180px;}
.prettyradio label { display: block;float: left;margin: 6px 0px;cursor: pointer;}
.prettyradio .radios{display:inline-block;}

.photo-wrapper115{width: 100%;display: inline-block;position: relative;background-color:#FFF;}
.photo-wrapper115:after { padding-bottom: 115%;display: block;content: '';}
.photo-wrapper50{width: 100%;display: inline-block;position: relative;background-color:#FFF;}
.photo-wrapper50:after { padding-bottom: 50%;display: block;content: '';}
.photo-wrapper65{width: 100%;display: inline-block;position: relative;background-color:#FFF;}
.photo-wrapper65:after { padding-bottom: 75%;display: block;content: '';}
.photo-wrapper66{width: 100%;display: inline-block;position: relative;background-color:#FFF;}
.photo-wrapper66:after { padding-bottom: 66.66%;display: block;content: '';}
.photo-wrapper100{width: 100%;display: inline-block;position: relative;background-color:#FFF;}
.photo-wrapper100:after { padding-bottom: 100%;display: block;content: '';}
.photo{width: 100%;overflow-y: hidden;position: absolute;top: 0;bottom: 0;right: 0;left: 0;background-size: cover;background-position: center center;background-color: white;background-repeat: no-repeat;}


.preview{width:10%;float:left;text-align: center;}
.view{width:90%;padding-left:10px;float:right;}
.preview .photo:hover{border:2px solid #ff7111;cursor:pointer}
@media (max-width: 768px){
.view{width:100%;padding-left:0}
.preview{width:100%;text-align: left;}
.preview .photo-wrapper100{width:18%}
.preview .love_block{display: inline-block;}
}
#detail h3{font-size: 20px;}
#detail button.love{font-size:26px;width:50px;color:white;background:#CECECE;padding:0;margin-top:10px;}
#detail p.love{color:#aaa;font-size:0.7em;}
#detail button.is_love{color:#e44c65}
#detail .company_name{margin-top:0;}
#detail .stage_type{color:red;font-size:20px;}
#detail h4{color:#7F7F7F}
#detail h4 img{width:25px;margin-right:8px;}
#detail .titles{margin-bottom: 0;border-bottom: 1px solid #eee;padding-bottom: 5px;}
#detail .details h3 span{font-size:0.7em;margin-left:10px;color:red}
#detail .details h4{font-size:0.85em;margin:5px 0;}
#detail .one_item{min-height: 170px;}
.show_detail .view{width:100%}
.is_cover{background:#dff0d8;}


.margin5{margin: 5px 0;}
  
.base .fa-plus-circle{cursor:pointer;display:inline-block}
.base .fa-minus-circle{cursor:pointer;}
.filter .myblock{display:none}
.filter .bb{float: left;width: 33%;  text-align: center;}
.filter .bb.active a{padding: 8px 9px;margin: 0px;border-top:0;border-bottom:0;border-left:0;background:rgb(228, 228, 228)}
.ui-slider-horizontal {height: 0.5em;}
.ui-slider .ui-slider-handle {width: 1em;height: 1em;}
.item_all.bb.active a{padding: 8px 0px;}


.scrollToTop {position: fixed;right: 20px;bottom: 20px;width: 40px;height: 40px;color: #666666;font-size: 2.5em;text-decoration: none;outline: none;background: #fff;border-radius: 50%;opacity: 0.8;z-index: 50;}
.scrollToTop:hover{color: #666666;}
.scrollToTop i{position: absolute;top: calc( 50% - 23.5px );left: calc( 50% - 14px );}

.form_stage{float:left;width:180px;padding-left:15px;position: relative;}
.form_title{float:left;width:170px;padding-left:15px;height:34px;}
.form_item1{float:left;width:100px;padding-left:15px;padding-right:15px;position: relative;}
.form_options{padding-left:12px;float: left;}
.help-block {margin-bottom: 0px;font-size:0.8em}
/*.list-unstyled{margin-bottom: 0px;}*/


/**自訂model彈出特效**/
.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}


.match{background:#7E7E7E;color:white;font-size:1.2em;padding-top:0;padding-bottom:0;margin-bottom: 15px;}
.match span{float: left;padding-top: 8px;margin-right: 4px;}
.match i{color:#D29500;font-size:1.8em;padding-top:5px;}
/*.filter li{display:none}
.filter .title{display:block}*/
/*
#concept {background-image: url(../img/pic02.jpg);}
#concept .concept_img{width:100%}
#concept .concept_text{position: absolute;bottom: 0;background: rgba(23, 24, 32, 0.95);color: white;min-height: 40vh;padding-bottom: 25px;padding: 20px 100px;border-top:0.35em solid #e44c65;}
#concept .text{padding:20px;}
@media (max-width: 768px){
	#concept {background: none;} 
	#concept .concept_text{background-color: #1c1d26;position:relative;}
	#concept .concept_text{padding: 20px 5%;  padding-bottom: 50px;} 
}

#faq {background-image: url(../img/pic03.jpg);}


#start {background-image: url(../img/pic04.jpg);}*/
/**********Bootstrap 5欄*****************/
.col-xs-15,.col-sm-15,.col-md-15,.col-lg-15 {position: relative;min-height: 1px;padding-right: 10px;padding-left: 10px;}
.col-xs-15 {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-15 {width: 20%;float: left;}}
@media (min-width: 992px) {.col-md-15 {width: 20%;float: left;}}
@media (min-width: 1200px){.col-lg-15 {width: 20%;float: left;}}

.info_label{float:left; padding:7px;margin-left: 20px;width:100px;font-size:0.8em}
.info_input{display:table;width:250px;}
.panel-body {padding:0;}
.county-district {width: 180px!important;margin-right: 30px;}
.one_item{display:table;margin-bottom:10px;}
#show_container span.love{color: #e44c65}

.member_provision{background:transparent!important;cursor:default!important;resize : none;}
.member_provision::-webkit-scrollbar{-webkit-appearance:none;width:10px}
.member_provision::-webkit-scrollbar-thumb{border-radius:4px;background-color:rgba(255,255,255,0.5);-webkit-box-shadow:0 0 1px rgba(255,255,255,0.5)}

.change_pic{position:absolute;display:none;bottom:4px;width: calc( 100% - 8px);text-align: center;background: rgba(0,0,0,0.2);line-height: 35px;color:white;-webkit-animation-name: fadeIn; /*动画名称*/
	-webkit-animation-duration: 0.8s; 
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 0s;}
.thumbnail:hover .change_pic{background: rgba(0,0,0,0.8);cursor:pointer;display:block;}


@-webkit-keyframes fadeIn {
    0% {opacity: 0;}   
    100% {opacity: 1;}
}
#chagepicModal .modal-dialog{margin:0;left: calc( 50% - 300px )!important;top: 20%;text-align: center;}
#chagepicModal.modal.fade.in .modal-dialog{-webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(30%, 20%, 0);
  transform: translate3d(30%, 20%, 0);
  opacity: 1;
  transform: translate3d(30%, 20%, 0);}

/*照片*/
.edit_pic{width: 100%; min-height: 300px;width:300px; background-color: #eee;text-align: center;position: relative;font-size: 16px;}
.new_pic{top: 0; left: 60px; line-height: 300px; font-weight: bold; color: #888;}
.fileinput_all {position: absolute!important;top: 0;bottom: 0;left: 0;right: 0;}
.photos_delete{width: 40px;height: 40px;position: absolute;top: 0;right: 0;cursor: pointer;z-index: 400;}
.photos_delete:after {content: '';position: absolute;right: 0;top: 0;width: 0;height: 0;border-bottom: 40px solid transparent;border-left: 40px solid transparent;border-right:40px solid rgba(255, 255, 255,0.7);}
.photos_delete i{position: absolute;right: 3px;top: 1px;z-index: 500;color: indianred;font-size: 22px;}
.photos_delete:hover:after{border-right-color:indianred;}
.photos_delete:hover i{color: white;}
.preview canvas{width:100%!important;}
.edit_pic .preview{width:100%!important;}
.tab-content{border: 1px solid #ddd; border-top: 0;padding-top:20px;}  
.info_panel{padding:0 20px;}
.photos_cover{ top: 1px;left: 6px;width: 90px;height:34px;line-height: 34px;position: absolute;font-size: 18px;background:rgba(255, 255, 255,0.7);text-align:center;cursor:pointer;}
.is_cover{background:#dff0d8;}
#upload_pic{display:none}



.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

.alert-link p{margin:0}
.captcha_img {height:40px;}
.black_form .has-success .form-control{border-color:rgba(255, 255, 255, 0.3)}
.has-success .form-control{border-color:#ccc}
.has-success .input-group-addon{border-color:#ccc}
#register .form-horizontal .form-group{height:auto}



.alert_modal a{color:#337ab7;margin-right:20px;}
.alert_modal a:hover{opacity:0.8;}
.alert_modal .modal-dialog  {
  max-width: 300px;
  margin: 0;
  position: fixed!important;
  left: calc( 50% - 135px )!important;
  top: calc( 50% + 250px )!important;
  text-align: center;
}